<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>


    <h1> Github Visualization </h1>
     <form action="/repositories_graph">
        <input type="submit" value="All Google Repositories Graph" />
    </form>
    <form action="/graph">
        <input type="submit" value="Graph for an Individual Repository" />
    </form>
    {% if repos %}
  
				<ul>
          <H1> List of Repos </H1>
				{% for r_name in repos %}
						<li>{{ r_name }}</li>
				{% endfor %}
				</ul>
		{% else %}
				<p>No repos found.</p>
		{% endif %}



  </body>
</html>

